######################
# Project Specific
######################
/target/
/target/classes/static/**
/src/test/javascript/coverage/
######################
# Intellij
######################
.idea
/.idea/**
*.iws
*.ids
*.orig
classes/
out/
*.iml
*.ipr
.idea/sonarlint/**
######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath
/src/main/resources/rebel.xml
*.DS_Store
######################
# Maven
######################
/log/
/target/

######################
# Gradle
######################
.gradle/
/build/

######################
# Package Files
######################
*.jar
*.war

.java-version
